<div class="container">
    <h3>{{ user_first_name }}'s Groups</h3>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="group in current_user.groups">
            <a ui-sref="group({id:group.id, group:group.id})">{{ group.name }}</a>
        </li>
    </ul>
    <div class="input-group">
        <input ng-model="newGroupName" type="text" class="form-control" placeholder="Enter group name">
        <span class="input-group-btn">
            <button class="btn btn-default" ng-click="createNewGroup(newGroupName)">Create!</button>
        </span>
    </div>
</div>