/* MIT License */
html {
    background-image: url("http://i.imgur.com/SzES99O.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header {
    width: auto;
    height: 200px;
    border: none;
	font-size: 1.4em;
	margin: auto;
	padding: 0;
    text-transform: uppercase;
    font-family: 'PetitaMediumRegular', Arial, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}

#header ul {
    list-style-type: none;
    width: 960px;
	float: none;
	margin: auto;
    text-align: center;
	padding: 57px 0 0;
	position: static;
}

#header ul li {
    display: inline;
    width: 192px;
    float: left;
	letter-spacing: 0.3em;
	padding: 45px 0 0;
	position: static;
}

#header ul li.middle {
	display: block;
}

#header ul li a {
    color: #333333;
    text-decoration: none;
    /* Transitions currently not implemented, worth thinking about later */
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

#logo {
	width: 203px;
	height: 103px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0px;
	top: 30px;
    /* Transitions currently not implemented, worth thinking about later */
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
	-webkit-transform: translateZ(0);
}