#groups_container {
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.5;
}

#groups_container table {
    height: 100%;
    text-align: center;
}

#groups_container th {
    text-align: center;
}

#groups_container td {
    text-align: center;
}