#login_elements {}

#rdio_logo {
    width: 450px;
	height: 450px;
	left: 20px;
	margin: auto;
	position: absolute;
	right: 0;
	top: -110px;
    /* Transitions currently not implemented, worth thinking about later */
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
	-webkit-transform: translateZ(0);
}

#login_button {
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 250px;
    width: 200px;
    background-color: #EEEEEE;
    border-color: #999999;
    /* Transitions currently not implemented, worth thinking about later */
	transition: opacity 0.3s linear;
	-webkit-transform: translateZ(0);
}