{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block body %}
<body>
    <div id="header_container">
       <header id="header">
           <nav>
               <ul>
                   <li class="active"><a href="#">Home</a></li>
                   <li><a href="#">About</a></li>
                   <li class="middle"><img src="http://i.imgur.com/TVR5TQg.png" id="logo" /></li>
                   <li><a href="#">Contact</a></li>
                   <li><a href="#">Logout</a></li>
               </ul>
           </nav>
        </header>
    </div>

    <div class="container">
        <img src="http://i.imgur.com/yQGIkaR.png" id="rdio_logo" />
        <a id="login_button" class="button" href="{{ url_for('oauth_authorize') }}">Login with Rdio</a>
    </div>
</body>
{% endblock %}